<h2>Leave a Review for <%= @restaurant.name %></h2>

<% if @errors %>
    <%= erb :"_errors", locals: { errors: @errors } %>
<% end %>

<form method="post" action="/restaurants/<%= @restaurant.id %>/reviews">
  <div class="review-form-field">
    <input class="block w-70 mar-t-2 mar-b-2 pad-1 center"type="text" name="review[content]" placeholder="I like the...">
    <input class="block w-70 mar-t-2 mar-b-2 pad-1 center"type="text" name="review[rating]" placeholder="I give it a...">
  </div>
    <input class="block w-70 mar-t-2 mar-b-3 pad-2 round-1 text-c submit center" type="submit" value="Add Review to <%= @restaurant.name %>">
</form>
