<h3>Reviews</h3>
<% if @restaurant.reviews.length == 0 %>
  <h4>There are currently no reviews at the moment!</h4>
<% else %>
  <h4>Average rating: <%= ( @restaurant.reviews.reduce(0) {|average, review| average + review.rating } ) / @restaurant.reviews.length %> / 10</h4>
  <% @restaurant.reviews.each do |review| %>
<% end %>
<ul class="no-list-style">
  <li>"<%= review.content %>"</li>
  <li>- <%= review.reviewer.username %></li>
</ul>
<% end %>
